In [20]:
import pandas as pd
pd.set_option('display.max_columns', 26)
pd.set_option('display.max_rows', 10)

In [53]:
car = pd.read_csv('/mnt/New_Volume/Work From Home/Data/car_price.csv')
car.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [54]:
car.tail()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
200,-1,95,gas,std,four,sedan,rwd,front,109.1,volvo,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,gas,turbo,four,sedan,rwd,front,109.1,volvo,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,gas,std,four,sedan,rwd,front,109.1,volvo,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,diesel,turbo,four,sedan,rwd,front,109.1,volvo,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,gas,turbo,four,sedan,rwd,front,109.1,volvo,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [55]:
car.normalized_losses

0        ?
1        ?
2        ?
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized_losses, Length: 205, dtype: object

In [56]:
car[['normalized_losses','num_of_doors','aspiration','curb_weight']]

    normalized_losses num_of_doors   aspiration  curb_weight
0                   ?          two  convertible         2548
1                   ?          two  convertible         2548
2                   ?          two    hatchback         2823
3                 164         four        sedan         2337
4                 164         four        sedan         2824
..                ...          ...          ...          ...
200                95         four        sedan         2952
201                95         four        sedan         3049
202                95         four        sedan         3012
203                95         four        sedan         3217
204                95         four        sedan         3062

[205 rows x 4 columns]

In [46]:
wt = car['curb_weight']/2.2
wt = pd.Series(wt,name = 'weight_KG')           # creating a single column
wt

0      1158.181818
1      1158.181818
2      1283.181818
3      1062.272727
4      1283.636364
          ...
200    1341.818182
201    1385.909091
202    1369.090909
203    1462.272727
204    1391.818182
Name: weight_KG, Length: 205, dtype: float64

# Methods to add column to Dataframe
## Method 1

In [52]:
print({x:val for x,val in enumerate(car.columns)})

{0: 'symboling', 1: 'normalized_losses', 2: 'Fuel_type', 3: 'make', 4: 'num_of_doors', 5: 'aspiration', 6: 'wheel_base', 7: 'engine_location', 8: 'drive_wheels', 9: 'body_style', 10: 'length', 11: 'width', 12: 'height', 13: 'curb_weight', 14: 'weight_KG', 15: 'engine_type', 16: 'num_of_cylinders', 17: 'engine_size', 18: 'fuel_system', 19: 'bore', 20: 'stroke', 21: 'compression_ratio', 22: 'horsepower', 23: 'peak_rpm', 24: 'city_mpg', 25: 'highway_mpg', 26: 'price'}

In [50]:
car.insert(14, 'weight_KG', wt)

In [51]:
car.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,...,weight_KG,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,1158.181818,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,1158.181818,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,...,1283.181818,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,...,1062.272727,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,...,1283.636364,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

# Method 2

In [ ]:
pd.concat([car,wt])

# Method 3

In [57]:
car['weight_kg'] = car['curb_weight']/2.2
car.head()s

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,...,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,weight_kg
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,1158.181818
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,1158.181818
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,...,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,1283.181818
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,...,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,1062.272727
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,...,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,1283.636364