In [39]:
import pandas as pd
pd.set_option('display.max_columns', 26)

In [40]:
car = pd.read_csv('/mnt/New_Volume/Work_From_Home/Data/car_price.csv')
car.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [41]:
car.columns

Index(['symboling', 'normalized_losses', 'Fuel_type', 'make', 'num_of_doors',
       'aspiration', 'wheel_base', 'engine_location', 'drive_wheels',
       'body_style', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [42]:
car.rename({'symboling':'SSYMMBOOLLING'}, axis = 1, inplace=True)

In [43]:
l = list(car.columns)
l[0] = 'SYNBOLING'
car.columns = l

In [44]:
car.head()

,SYNBOLING,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [45]:
car.groupby(by = ['wheel_base']).count()

,SYNBOLING,normalized_losses,Fuel_type,make,num_of_doors,aspiration,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
wheel_base,,,,,,,,,,,,,,,,,,,,,,,,,
4wd,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
fwd,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120
rwd,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76

In [46]:
car['Petrol'] = car['Fuel_type'][car['Fuel_type'] == 'gas']

In [59]:
car.head()

,SYNBOLING,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,...,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Petrol,drive
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,gas,0
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,gas,0
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,gas,1
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,...,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,gas,1
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,...,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,gas,1

In [60]:
import time

In [69]:
start = time.time()
car['drive'] = [1 if x>90 else 0 for x in car['drive_wheels']]
stop = time.time()
print('Time Taken is:', stop-start)

Time Taken is: 0.0007987022399902344

In [70]:
start = time.time()
car['drive'] =  car['drive_wheels']>90 
car['drive'].replace({True:1, False:0},inplace=True)
stop = time.time()
print('Time Taken is:', stop-start)

Time Taken is: 0.0025348663330078125

In [48]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SYNBOLING          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   Fuel_type          205 non-null    object
 3   make               205 non-null    object
 4   num_of_doors       205 non-null    object
 5   aspiration         205 non-null    object
 6   wheel_base         205 non-null    object
 7   engine_location    205 non-null    object
 8   drive_wheels       205 non-null    float64
 9   body_style         205 non-null    object
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_of_cylinders   205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
 26  Petrol             185 non-null    object
dtypes: float64(5), int64(5), object(17)
memory usage: 43.4+ KB

# Creating Series aka Columns and Dataframes aka Spreadsheets

## Creatng Series

In [71]:
l = [1,2,3,4,5,6]

In [72]:
l = pd.Series(l,name='List')
l

0    1
1    2
2    3
3    4
4    5
5    6
Name: List, dtype: int64

In [74]:
l2 = pd.Series([10,20,30,40,50], name = 'Tens')
l2

0    10
1    20
2    30
3    40
4    50
Name: Tens, dtype: int64

In [76]:
df_1 = pd.DataFrame([l,l2])
df_1

         0     1     2     3     4    5
List   1.0   2.0   3.0   4.0   5.0  6.0
Tens  10.0  20.0  30.0  40.0  50.0  NaN

In [77]:
df_2 = pd.DataFrame({l.name:l,l2.name:l2})
df_2

   List  Tens
0     1  10.0
1     2  20.0
2     3  30.0
3     4  40.0
4     5  50.0
5     6   NaN

In [80]:
df_3 = pd.concat([l,l2], axis = 1)
df_3

   List  Tens
0     1  10.0
1     2  20.0
2     3  30.0
3     4  40.0
4     5  50.0
5     6   NaN