In [1]:
import pandas as pd
pd.set_option('display.max_columns',26)

In [27]:
car = pd.read_csv('/mnt/New_Volume/Work From Home/Data/car_price.csv')
car.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [28]:
car.head()

,symboling,normalized_losses,Fuel_type,make,num_of_doors,aspiration,wheel_base,engine_location,drive_wheels,body_style,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,gas,std,two,convertible,rwd,front,88.6,alfa-romero,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,gas,std,two,hatchback,rwd,front,94.5,alfa-romero,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,gas,std,four,sedan,fwd,front,99.8,audi,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,gas,std,four,sedan,4wd,front,99.4,audi,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [17]:
car.index.name = 'S.No'

In [25]:
car.columns[0]

'symboling'

In [6]:
car['symboling']

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [30]:
car[['symboling','normalized_losses','Fuel_type','wheel_base']]

     symboling normalized_losses Fuel_type wheel_base
0            3                 ?       gas        rwd
1            3                 ?       gas        rwd
2            1                 ?       gas        rwd
3            2               164       gas        fwd
4            2               164       gas        4wd
..         ...               ...       ...        ...
200         -1                95       gas        rwd
201         -1                95       gas        rwd
202         -1                95       gas        rwd
203         -1                95    diesel        rwd
204         -1                95       gas        rwd

[205 rows x 4 columns]

In [32]:
car.loc[10:15,['symboling','normalized_losses','Fuel_type','wheel_base']]

    symboling normalized_losses Fuel_type wheel_base
10          2               192       gas        rwd
11          0               192       gas        rwd
12          0               188       gas        rwd
13          0               188       gas        rwd
14          1                 ?       gas        rwd
15          0                 ?       gas        rwd

In [36]:
car.iloc[10:15,[0,1,2,6]]

    symboling normalized_losses Fuel_type wheel_base
10          2               192       gas        rwd
11          0               192       gas        rwd
12          0               188       gas        rwd
13          0               188       gas        rwd
14          1                 ?       gas        rwd

In [38]:
car.iloc[50:61,range(9)[1:8:2]]

   normalized_losses make aspiration engine_location
50               104  std  hatchback           front
51               104  std  hatchback           front
52               104  std  hatchback           front
53               113  std      sedan           front
54               113  std      sedan           front
55               150  std  hatchback           front
56               150  std  hatchback           front
57               150  std  hatchback           front
58               150  std  hatchback           front
59               129  std  hatchback           front
60               115  std      sedan           front

In [2]:
s1 = pd.Series([1,3,2,4,5,6],name = 'Column1')

In [3]:
s1

0    1
1    3
2    2
3    4
4    5
5    6
Name: Column1, dtype: int64

In [10]:
s2 = pd.Series([10,11,12,13,14,15], name = 'Column2')

In [11]:
s2

0    10
1    11
2    12
3    13
4    14
5    15
Name: Column2, dtype: int64

In [12]:
df = pd.DataFrame([s1,s2])
df

          0   1   2   3   4   5
Column1   1   3   2   4   5   6
Column2  10  11  12  13  14  15

In [13]:
df1 = pd.DataFrame({s1.name:s1,s2.name:s2})
df1

   Column1  Column2
0        1       10
1        3       11
2        2       12
3        4       13
4        5       14
5        6       15

In [14]:
df2 = pd.concat([s1,s2],axis = 1)
df2

   Column1  Column2
0        1       10
1        3       11
2        2       12
3        4       13
4        5       14
5        6       15

In [17]:
df3 = pd.concat([s1,s2],axis = 0,ignore_index=True)
df3,type(df3)

(0      1
 1      3
 2      2
 3      4
 4      5
 5      6
 6     10
 7     11
 8     12
 9     13
 10    14
 11    15
 dtype: int64,
 pandas.core.series.Series)