In [1]:
import numpy as np

In [2]:
# numpy works on array (array is collection of similar type of objects)

# creating a 1-d table:
_1d = np.array([1,2,3])
_1d

array([1, 2, 3])

In [3]:
_2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [5]:
_3d = np.array([[[1,2],[3,4]],[[5,6],[7,8]],[[9,10],[11,12]]])
_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [6]:
_3d.shape

(3, 2, 2)

In [11]:
a = np.arange(1,25)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [12]:
a.reshape(2,12)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [13]:
a.reshape(4,6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [14]:
a.reshape(6,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [15]:
a.reshape(3,2,4)

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]],

       [[17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [20]:
a= a.reshape(3,2,2,2)
a

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]],


       [[[17, 18],
         [19, 20]],

        [[21, 22],
         [23, 24]]]])

In [21]:
zero = np.zeros((3,5))
zero

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [23]:
one = np.ones((5,3))
one

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [27]:
value = np.full((3,4),0.225256989)
value

array([[0.22525699, 0.22525699, 0.22525699, 0.22525699],
       [0.22525699, 0.22525699, 0.22525699, 0.22525699],
       [0.22525699, 0.22525699, 0.22525699, 0.22525699]])

In [28]:
# Wap to create a matrix of 3,2,4 with all values being 0.6
arr = np.full((3,2,4),0.6)
arr

array([[[0.6, 0.6, 0.6, 0.6],
        [0.6, 0.6, 0.6, 0.6]],

       [[0.6, 0.6, 0.6, 0.6],
        [0.6, 0.6, 0.6, 0.6]],

       [[0.6, 0.6, 0.6, 0.6],
        [0.6, 0.6, 0.6, 0.6]]])