In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv('/mnt/New_Volume/Work_From_Home/Data/spam.csv')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [6]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1,inplace= True)

In [7]:
data.columns = ['label','message']

In [11]:
data['label'].value_counts()

ham     5854
spam     922
Name: label, dtype: int64

In [14]:
data['label'].replace({'ham':1, 'spam':0},inplace= True)

In [16]:
data['message'] = data['message'].str.lower()

In [22]:
stop_words = stopwords.words('english')

In [25]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
def text_processing(mess):
    no_punc = [char for char in mess if char not in string.punctuation]      # removing punctuation
    no_punc = ''.join(no_punc)
    final = [word for word in no_punc.split() if word not in stop_words]    # removing stop words
    return final

In [29]:
data['message'] = data['message'].apply(text_processing)

In [32]:
data['message'].iloc[0:3]

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, fin...
Name: message, dtype: object