# Share Price Prediction using RNN

In [55]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np

In [56]:
sp = pd.read_csv("/mnt/New_Volume/Work_From_Home/Data/SBIN.csv")
sp.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,01-Apr-21,EQ,367.70,371.9,363.10,364.30,370.95,370.65,367.07,427.7,149.45,31883453,"11,703,603,342.10",201211
1,05-Apr-21,EQ,367.50,369.2,349.05,370.65,354.00,353.55,355.21,427.7,149.45,51743981,"18,379,797,141.10",382160
2,06-Apr-21,EQ,355.70,357.0,349.30,353.55,350.95,350.55,353.10,427.7,149.45,44147709,"15,588,499,051.85",273760
3,07-Apr-21,EQ,351.25,363.2,347.60,350.55,358.20,358.55,358.22,427.7,149.45,48023602,"17,203,160,038.90",323113
4,08-Apr-21,EQ,361.00,363.3,354.30,358.55,355.95,355.60,358.65,427.7,149.45,33370259,"11,968,110,091.25",221845

In [57]:
sp.isna().sum()

Date             0
series           0
OPEN             0
HIGH             0
LOW              0
PREV. CLOSE      0
ltp              0
close            0
vwap             0
52W H            0
52W L            0
VOLUME           0
VALUE            0
No of trades     0
dtype: int64

In [58]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           39 non-null     object
 1   series         39 non-null     object
 2   OPEN           39 non-null     float64
 3   HIGH           39 non-null     float64
 4   LOW            39 non-null     float64
 5   PREV. CLOSE    39 non-null     float64
 6   ltp            39 non-null     float64
 7   close          39 non-null     float64
 8   vwap           39 non-null     float64
 9   52W H          39 non-null     float64
 10  52W L          39 non-null     float64
 11  VOLUME         39 non-null     int64
 12  VALUE          39 non-null     object
 13  No of trades   39 non-null     int64
dtypes: float64(9), int64(2), object(3)
memory usage: 4.4+ KB

# Target is Closing Price

In [59]:
sp

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,01-Apr-21,EQ,367.70,371.90,363.10,364.30,370.95,370.65,367.07,427.70,149.45,31883453,"11,703,603,342.10",201211
1,05-Apr-21,EQ,367.50,369.20,349.05,370.65,354.00,353.55,355.21,427.70,149.45,51743981,"18,379,797,141.10",382160
2,06-Apr-21,EQ,355.70,357.00,349.30,353.55,350.95,350.55,353.10,427.70,149.45,44147709,"15,588,499,051.85",273760
3,07-Apr-21,EQ,351.25,363.20,347.60,350.55,358.20,358.55,358.22,427.70,149.45,48023602,"17,203,160,038.90",323113
4,08-Apr-21,EQ,361.00,363.30,354.30,358.55,355.95,355.60,358.65,427.70,149.45,33370259,"11,968,110,091.25",221845
5,09-Apr-21,EQ,354.40,364.50,351.20,355.60,352.95,353.00,357.30,427.70,149.45,46473100,"16,604,696,682.20",303846
6,12-Apr-21,EQ,344.00,344.00,322.55,353.00,330.70,328.85,329.89,427.70,149.45,75501713,"24,907,319,137.55",579319
7,13-Apr-21,EQ,332.00,342.25,330.50,328.85,341.25,341.00,336.40,427.70,149.45,49773360,"16,743,865,802.60",319183
8,15-Apr-21,EQ,342.10,347.55,336.10,341.00,342.55,342.70,341.70,427.70,149.45,52992349,"18,107,434,663.30",325566
9,16-Apr-21,EQ,343.00,345.50,338.65,342.70,339.55,339.90,342.01,427.70,149.45,37766793,"12,916,560,525.30",237384
10,19-Apr-21,EQ,327.15,332.05,321.30,339.90,330.45,331.15,326.36,427.70,149.45,53304377,"17,396,345,606.00",396759
11,20-Apr-21,EQ,335.10,339.90,326.70,331.15,329.40,329.50,333.65,427.70,149.45,41296147,"13,778,454,560.40",248595
12,22-Apr-21,EQ,326.00,337.65,323.30,329.50,336.25,336.65,332.72,427.70,149.45,49105833,"16,338,311,319.50",279445
13,23-Apr-21,EQ,331.65,339.90,331.65,336.65,335.40,336.45,336.47,427.70,149.45,44223940,"14,879,885,720.10",272666
14,26-Apr-21,EQ,339.25,347.45,339.25,336.45,344.80,344.30,345.26,427.70,149.45,49234985,"16,998,735,563.00",306217
15,27-Apr-21,EQ,344.00,354.95,342.40,344.30,354.20,353.05,349.42,427.70,149.45,46003023,"16,074,590,033.80",293357
16,28-Apr-21,EQ,357.00,364.30,356.05,353.05,362.90,363.40,361.63,427.70,149.45,56696255,"20,503,130,461.70",337002
17,29-Apr-21,EQ,365.00,369.95,355.50,363.40,357.45,359.40,361.26,427.70,149.45,63692926,"23,009,457,094.75",348461
18,30-Apr-21,EQ,353.45,362.50,350.45,359.40,352.30,353.50,357.11,427.70,149.45,53832840,"19,224,079,313.30",296959
19,03-May-21,EQ,349.60,352.50,341.40,353.50,351.45,350.60,347.45,427.70,149.45,43691860,"15,180,552,160.80",313847
20,04-May-21,EQ,355.00,362.90,350.20,350.60,351.10,351.50,357.53,427.70,149.45,57749307,"20,647,019,838.00",342742
21,05-May-21,EQ,356.50,357.45,348.00,351.50,356.45,355.40,354.45,427.70,149.45,40872501,"14,487,350,216.50",244000
22,06-May-21,EQ,358.00,359.35,350.55,355.40,355.85,355.55,354.51,427.70,149.45,36294427,"12,866,726,597.10",217872
23,07-May-21,EQ,357.50,362.00,353.00,355.55,358.00,358.25,357.21,427.70,149.45,38357618,"13,701,812,427.15",224225
24,10-May-21,EQ,360.50,367.00,358.80,358.25,362.30,361.70,362.87,427.70,149.45,41739324,"15,146,084,237.05",260322
25,11-May-21,EQ,356.85,366.40,354.75,361.70,364.10,364.65,362.80,427.70,149.45,41892770,"15,198,570,076.45",229841
26,12-May-21,EQ,362.80,373.50,361.90,364.65,367.75,367.70,368.18,427.70,149.45,53436590,"19,674,521,565.30",320184
27,14-May-21,EQ,370.00,372.50,359.55,367.70,360.60,360.45,365.59,427.70,149.45,51722170,"18,909,331,521.30",358985
28,17-May-21,EQ,364.40,385.20,363.65,360.45,384.45,383.10,376.90,427.70,149.45,106555796,"40,161,188,120.65",654529
29,18-May-21,EQ,390.00,392.55,380.05,383.10,382.95,382.25,385.07,427.70,149.45,70917710,"27,308,236,301.95",483711
30,19-May-21,EQ,382.00,389.50,381.20,382.25,384.40,384.40,385.63,427.70,149.45,48189573,"18,583,464,470.15",346200
31,20-May-21,EQ,387.00,387.80,382.00,384.40,386.80,384.55,384.42,427.70,149.45,42898608,"16,491,290,794.00",331759
32,21-May-21,EQ,390.00,404.40,378.00,384.55,404.00,401.20,393.52,427.70,149.45,192810772,"75,874,786,468.40",1121959
33,24-May-21,EQ,417.00,419.20,405.30,401.20,411.00,412.05,411.75,427.70,150.20,142964052,"58,865,553,601.70",846514
34,25-May-21,EQ,415.10,415.50,408.50,412.05,414.10,412.35,411.05,427.70,150.20,56048127,"23,038,372,268.75",348160
35,26-May-21,EQ,413.80,418.75,410.80,412.35,412.00,413.55,415.44,427.70,150.20,52357719,"21,751,281,756.70",339506
36,27-May-21,EQ,413.70,429.10,412.00,413.55,426.80,425.20,419.80,429.10,150.20,73392997,"30,810,699,445.45",442431
37,28-May-21,EQ,430.50,433.65,420.05,425.20,422.00,422.05,426.46,433.65,150.20,65137568,"27,778,684,365.60",423239
38,31-May-21,EQ,421.00,426.00,418.00,422.05,424.50,424.35,422.90,433.65,163.35,38291043,"16,193,457,741.00",275082

In [60]:
sp.columns

Index(['Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades '],
      dtype='object')

In [61]:
sp.drop(labels = ['Date ','series ','52W H ', '52W L ', 'VOLUME ', 'VALUE '], axis = 1, inplace = True)
sp

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,No of trades
0,367.70,371.90,363.10,364.30,370.95,370.65,367.07,201211
1,367.50,369.20,349.05,370.65,354.00,353.55,355.21,382160
2,355.70,357.00,349.30,353.55,350.95,350.55,353.10,273760
3,351.25,363.20,347.60,350.55,358.20,358.55,358.22,323113
4,361.00,363.30,354.30,358.55,355.95,355.60,358.65,221845
5,354.40,364.50,351.20,355.60,352.95,353.00,357.30,303846
6,344.00,344.00,322.55,353.00,330.70,328.85,329.89,579319
7,332.00,342.25,330.50,328.85,341.25,341.00,336.40,319183
8,342.10,347.55,336.10,341.00,342.55,342.70,341.70,325566
9,343.00,345.50,338.65,342.70,339.55,339.90,342.01,237384
10,327.15,332.05,321.30,339.90,330.45,331.15,326.36,396759
11,335.10,339.90,326.70,331.15,329.40,329.50,333.65,248595
12,326.00,337.65,323.30,329.50,336.25,336.65,332.72,279445
13,331.65,339.90,331.65,336.65,335.40,336.45,336.47,272666
14,339.25,347.45,339.25,336.45,344.80,344.30,345.26,306217
15,344.00,354.95,342.40,344.30,354.20,353.05,349.42,293357
16,357.00,364.30,356.05,353.05,362.90,363.40,361.63,337002
17,365.00,369.95,355.50,363.40,357.45,359.40,361.26,348461
18,353.45,362.50,350.45,359.40,352.30,353.50,357.11,296959
19,349.60,352.50,341.40,353.50,351.45,350.60,347.45,313847
20,355.00,362.90,350.20,350.60,351.10,351.50,357.53,342742
21,356.50,357.45,348.00,351.50,356.45,355.40,354.45,244000
22,358.00,359.35,350.55,355.40,355.85,355.55,354.51,217872
23,357.50,362.00,353.00,355.55,358.00,358.25,357.21,224225
24,360.50,367.00,358.80,358.25,362.30,361.70,362.87,260322
25,356.85,366.40,354.75,361.70,364.10,364.65,362.80,229841
26,362.80,373.50,361.90,364.65,367.75,367.70,368.18,320184
27,370.00,372.50,359.55,367.70,360.60,360.45,365.59,358985
28,364.40,385.20,363.65,360.45,384.45,383.10,376.90,654529
29,390.00,392.55,380.05,383.10,382.95,382.25,385.07,483711
30,382.00,389.50,381.20,382.25,384.40,384.40,385.63,346200
31,387.00,387.80,382.00,384.40,386.80,384.55,384.42,331759
32,390.00,404.40,378.00,384.55,404.00,401.20,393.52,1121959
33,417.00,419.20,405.30,401.20,411.00,412.05,411.75,846514
34,415.10,415.50,408.50,412.05,414.10,412.35,411.05,348160
35,413.80,418.75,410.80,412.35,412.00,413.55,415.44,339506
36,413.70,429.10,412.00,413.55,426.80,425.20,419.80,442431
37,430.50,433.65,420.05,425.20,422.00,422.05,426.46,423239
38,421.00,426.00,418.00,422.05,424.50,424.35,422.90,275082

# Splitting the data into x and y

In [137]:
y = sp['close ']
x = sp.drop('close ', axis  = 1)

In [138]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# x = scaler.fit_transform(x)

In [139]:
x = np.array(x)
# x

In [140]:
x = x[:,np.newaxis,:]

In [141]:
x

array([[[3.677000e+02, 3.719000e+02, 3.631000e+02, 3.643000e+02,
         3.709500e+02, 3.670700e+02, 2.012110e+05]],

       [[3.675000e+02, 3.692000e+02, 3.490500e+02, 3.706500e+02,
         3.540000e+02, 3.552100e+02, 3.821600e+05]],

       [[3.557000e+02, 3.570000e+02, 3.493000e+02, 3.535500e+02,
         3.509500e+02, 3.531000e+02, 2.737600e+05]],

       [[3.512500e+02, 3.632000e+02, 3.476000e+02, 3.505500e+02,
         3.582000e+02, 3.582200e+02, 3.231130e+05]],

       [[3.610000e+02, 3.633000e+02, 3.543000e+02, 3.585500e+02,
         3.559500e+02, 3.586500e+02, 2.218450e+05]],

       [[3.544000e+02, 3.645000e+02, 3.512000e+02, 3.556000e+02,
         3.529500e+02, 3.573000e+02, 3.038460e+05]],

       [[3.440000e+02, 3.440000e+02, 3.225500e+02, 3.530000e+02,
         3.307000e+02, 3.298900e+02, 5.793190e+05]],

       [[3.320000e+02, 3.422500e+02, 3.305000e+02, 3.288500e+02,
         3.412500e+02, 3.364000e+02, 3.191830e+05]],

       [[3.421000e+02, 3.475500e+02, 3.361000e+02, 3.410000e+02,
         3.425500e+02, 3.417000e+02, 3.255660e+05]],

       [[3.430000e+02, 3.455000e+02, 3.386500e+02, 3.427000e+02,
         3.395500e+02, 3.420100e+02, 2.373840e+05]],

       [[3.271500e+02, 3.320500e+02, 3.213000e+02, 3.399000e+02,
         3.304500e+02, 3.263600e+02, 3.967590e+05]],

       [[3.351000e+02, 3.399000e+02, 3.267000e+02, 3.311500e+02,
         3.294000e+02, 3.336500e+02, 2.485950e+05]],

       [[3.260000e+02, 3.376500e+02, 3.233000e+02, 3.295000e+02,
         3.362500e+02, 3.327200e+02, 2.794450e+05]],

       [[3.316500e+02, 3.399000e+02, 3.316500e+02, 3.366500e+02,
         3.354000e+02, 3.364700e+02, 2.726660e+05]],

       [[3.392500e+02, 3.474500e+02, 3.392500e+02, 3.364500e+02,
         3.448000e+02, 3.452600e+02, 3.062170e+05]],

       [[3.440000e+02, 3.549500e+02, 3.424000e+02, 3.443000e+02,
         3.542000e+02, 3.494200e+02, 2.933570e+05]],

       [[3.570000e+02, 3.643000e+02, 3.560500e+02, 3.530500e+02,
         3.629000e+02, 3.616300e+02, 3.370020e+05]],

       [[3.650000e+02, 3.699500e+02, 3.555000e+02, 3.634000e+02,
         3.574500e+02, 3.612600e+02, 3.484610e+05]],

       [[3.534500e+02, 3.625000e+02, 3.504500e+02, 3.594000e+02,
         3.523000e+02, 3.571100e+02, 2.969590e+05]],

       [[3.496000e+02, 3.525000e+02, 3.414000e+02, 3.535000e+02,
         3.514500e+02, 3.474500e+02, 3.138470e+05]],

       [[3.550000e+02, 3.629000e+02, 3.502000e+02, 3.506000e+02,
         3.511000e+02, 3.575300e+02, 3.427420e+05]],

       [[3.565000e+02, 3.574500e+02, 3.480000e+02, 3.515000e+02,
         3.564500e+02, 3.544500e+02, 2.440000e+05]],

       [[3.580000e+02, 3.593500e+02, 3.505500e+02, 3.554000e+02,
         3.558500e+02, 3.545100e+02, 2.178720e+05]],

       [[3.575000e+02, 3.620000e+02, 3.530000e+02, 3.555500e+02,
         3.580000e+02, 3.572100e+02, 2.242250e+05]],

       [[3.605000e+02, 3.670000e+02, 3.588000e+02, 3.582500e+02,
         3.623000e+02, 3.628700e+02, 2.603220e+05]],

       [[3.568500e+02, 3.664000e+02, 3.547500e+02, 3.617000e+02,
         3.641000e+02, 3.628000e+02, 2.298410e+05]],

       [[3.628000e+02, 3.735000e+02, 3.619000e+02, 3.646500e+02,
         3.677500e+02, 3.681800e+02, 3.201840e+05]],

       [[3.700000e+02, 3.725000e+02, 3.595500e+02, 3.677000e+02,
         3.606000e+02, 3.655900e+02, 3.589850e+05]],

       [[3.644000e+02, 3.852000e+02, 3.636500e+02, 3.604500e+02,
         3.844500e+02, 3.769000e+02, 6.545290e+05]],

       [[3.900000e+02, 3.925500e+02, 3.800500e+02, 3.831000e+02,
         3.829500e+02, 3.850700e+02, 4.837110e+05]],

       [[3.820000e+02, 3.895000e+02, 3.812000e+02, 3.822500e+02,
         3.844000e+02, 3.856300e+02, 3.462000e+05]],

       [[3.870000e+02, 3.878000e+02, 3.820000e+02, 3.844000e+02,
         3.868000e+02, 3.844200e+02, 3.317590e+05]],

       [[3.900000e+02, 4.044000e+02, 3.780000e+02, 3.845500e+02,
         4.040000e+02, 3.935200e+02, 1.121959e+06]],

       [[4.170000e+02, 4.192000e+02, 4.053000e+02, 4.012000e+02,
         4.110000e+02, 4.117500e+02, 8.465140e+05]],

       [[4.151000e+02, 4.155000e+02, 4.085000e+02, 4.120500e+02,
         4.141000e+02, 4.110500e+02, 3.481600e+05]],

       [[4.138000e+02, 4.187500e+02, 4.108000e+02, 4.123500e+02,
         4.120000e+02, 4.154400e+02, 3.395060e+05]],

       [[4.137000e+02, 4.291000e+02, 4.120000e+02, 4.135500e+02,
         4.268000e+02, 4.198000e+02, 4.424310e+05]],

       [[4.305000e+02, 4.336500e+02, 4.200500e+02, 4.252000e+02,
         4.220000e+02, 4.264600e+02, 4.232390e+05]],

       [[4.210000e+02, 4.260000e+02, 4.180000e+02, 4.220500e+02,
         4.245000e+02, 4.229000e+02, 2.750820e+05]]])

In [142]:
x.shape

(39, 1, 7)

In [143]:
np.random.seed(42)
tf.random.set_seed(42)
keras.backend.clear_session()
model = keras.models.Sequential([
    keras.layers.SimpleRNN(1, input_shape = [1,7])
])

In [144]:
optimizer = keras.optimizers.Adam(learning_rate= 0.005)
model.compile(loss = 'mse', optimizer = optimizer)

In [145]:
model.fit(x,y, validation_split = 0.2,epochs = 50 )

Epoch 1/50
1/1 [==============================] - 1s 901ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 2/50
1/1 [==============================] - 0s 44ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 3/50
1/1 [==============================] - 0s 55ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 4/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 5/50
1/1 [==============================] - 0s 54ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 6/50
1/1 [==============================] - 0s 55ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 7/50
1/1 [==============================] - 0s 53ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 8/50
1/1 [==============================] - 0s 64ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 9/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 10/50
1/1 [==============================] - 0s 48ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 11/50
1/1 [==============================] - 0s 54ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 12/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 13/50
1/1 [==============================] - 0s 64ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 14/50
1/1 [==============================] - 0s 54ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 15/50
1/1 [==============================] - 0s 47ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 16/50
1/1 [==============================] - 0s 50ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 17/50
1/1 [==============================] - 0s 48ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 18/50
1/1 [==============================] - 0s 49ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 19/50
1/1 [==============================] - 0s 58ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 20/50
1/1 [==============================] - 0s 50ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 21/50
1/1 [==============================] - 0s 60ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 22/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 23/50
1/1 [==============================] - 0s 54ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 24/50
1/1 [==============================] - 0s 55ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 25/50
1/1 [==============================] - 0s 47ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 26/50
1/1 [==============================] - 0s 49ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 27/50
1/1 [==============================] - 0s 49ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 28/50
1/1 [==============================] - 0s 59ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 29/50
1/1 [==============================] - 0s 63ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 30/50
1/1 [==============================] - 0s 51ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 31/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 32/50
1/1 [==============================] - 0s 49ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 33/50
1/1 [==============================] - 0s 44ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 34/50
1/1 [==============================] - 0s 53ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 35/50
1/1 [==============================] - 0s 52ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 36/50
1/1 [==============================] - 0s 60ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 37/50
1/1 [==============================] - 0s 50ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 38/50
1/1 [==============================] - 0s 55ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 39/50
1/1 [==============================] - 0s 64ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 40/50
1/1 [==============================] - 0s 65ms/step - loss: 124890.5000 - val_loss: 169011.6250
Epoch 41/50
1/1 [==============================] - 0s 55ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 42/50
1/1 [==============================] - 0s 56ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 43/50
1/1 [==============================] - 0s 61ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 44/50
1/1 [==============================] - 0s 50ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 45/50
1/1 [==============================] - 0s 63ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 46/50
1/1 [==============================] - 0s 58ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 47/50
1/1 [==============================] - 0s 64ms/step - loss: 124890.5078 - val_loss: 169011.6250
Epoch 48/50
1/1 [==============================] - 0s 49ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 49/50
1/1 [==============================] - 0s 59ms/step - loss: 124890.5156 - val_loss: 169011.6250
Epoch 50/50
1/1 [==============================] - 0s 59ms/step - loss: 124890.5078 - val_loss: 169011.6250

In [146]:
model.predict([[[4.210000e+02, 4.260000e+02, 4.180000e+02, 4.220500e+02,
         4.245000e+02, 4.229000e+02, 2.750820e+05]]])

array([[1.]], dtype=float32)

In [119]:
test = np.arange(1,7).reshape(3,2)
test

array([[1, 2],
       [3, 4],
       [5, 6]])

In [120]:
test.ndim

2

In [121]:
test_1 = test[...,np.newaxis]
test_1

array([[[1],
        [2]],

       [[3],
        [4]],

       [[5],
        [6]]])

In [122]:
test_2 = test[:,np.newaxis,:]
test_2

array([[[1, 2]],

       [[3, 4]],

       [[5, 6]]])

In [135]:
test_3 = test[np.newaxis,...]

In [136]:
test_3

array([[[1, 2],
        [3, 4],
        [5, 6]]])